<%- include('header') -%>

<div id="root">
    <div><%- initialMarkup %></div>
</div>

<script type="text/javascript">
window.initialData = <%- JSON.stringify(initialData) -%>;
</script>

<%- include('footer') -%>


